body {
    /* background-color: rgb(254, 211, 113); */
    background-color: white;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 15px;
}

.banner {
    text-align: center;
}
div.banner img {
    width: 100%;
}

div.banner img.profile_photo {
    border-radius: 50%;
    width: 50%;
}

